.anchor-css{
    text-decoration: none;
    float: left;
    padding: 6px 6px;
}

.navbar{
    overflow: hidden;
    background-color:yellow;
    font-family: Arial;
    font-size: 20px;
    padding: 7px 7px;
}
/*dropdown container*/
.dropdown{
    float:left;
    overflow: hidden;
    color:red;
}
.dropbtn{
    font-size: 20px;
    border: none;
    padding: 7px 7px;
    background-color: orchid;
}
.dropdown-a{
    text-decoration: none;
    display: block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ff7e7f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(21,248,32,0,926);
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.navbar a:hover{
    background-color: aquamarine;
}

.icon-css{
    font-size: 20px important;
    color: #740909;
}

.button:hover{
    background-color: #ff7e7e;

}
.dropdown-css{
    color: chartreuse;
    font-size: 15px;
    margin-top: 7px;
}
.page-heading{
    height: 40px;
    background-color: #ff7e7e;
    font-size: 20px;
    font-family: cursive;
}
.parent-container{
    height: 700px;
    width: 1400px;
    background-color: #c49797;
    background-image: url("psk.jpg");
    background-repeat: repeat;
    background-size: cover;
}
.side-bar{
    position: absolute;
    top: 103px;
    width: 100px;
    border: 1px solid black;
    left:9px;
    height: 704px;
    

}